# Ignore .env files
.env
#ignore node modules
node_modules/
node_modules
/node_modules


# Ignore Firebase service account key

/backend/config/serviceAccountKey.json
backend/config/serviceAccountKey.json/
backend/config/serviceAccountKey.json

frontend/google-services.json
frontend/google-services.json/
/frontend/google-services.json